{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock title %}

{% block content %}
  <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center" style="background-image: url('{% static 'img/hero-bg.jpg' %}');">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1>Welcome to <span>Restaurantly</span></h1>
          <h2>Delivering great food for more than 18 years!</h2>

          <div class="btns">
            <a href="{% url 'menu' %}" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="{% url 'book_a_table' %}" class="btn-book animated fadeInUp scrollto">Book a Table</a>
          </div>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->
{% endblock content %}
